* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans MT',sans-serif;
    font-weight: 200;
}

body {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     background-color: #ffffff;
    /* background-image: url("./assets/wood-2.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-height:100%;
    /* flex-grow: 1; */
  }

  html {
    overflow: auto;
    /* height: 100%; */
}
